.app {
  background-color: var(--color-bg-default);
  &__layout-wrapper {
    max-width: 1024px;
    margin: auto;
    & > div {
      padding: 40px 0;
      border-bottom: 1px solid var(--color-bg-border);
    }
    & > div:last-child {
      padding-bottom: 40px;
    }
    & > div:first-child {
      position: fixed;
      padding: 8px 0;
      background-color: var(--color-bg-default);
      width: 1024px;
      z-index: 9999;
    }
  }
  &__toolbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-bg-border);
    padding: 8px 0;
    & div:first-child {
      margin-right: 32px;
    }
  }
  &__attachment {
    padding-top: 80px !important;
  }
  &__button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    & > button {
      margin: 0 20px 20px 0;
    }
  }
  &__header {
    background-color: var(--color-bg-ghost);
  }
  &__checkbox {
    & > * {
      width: 300px;
    }
  }
  &__choicegroup {
    & div:last-child {
      width: fit-content;
    }
  }
  &__contextmenu {
    height: 200px;
    display: flex;
    justify-content: space-around;
  }
  &__text {
    a {
      cursor: pointer;
    }
  }
  &__collapse {
    & * svg {
      color: var(--color-typo-primary);
    }
  }

  &__table {
  }
  &__informer {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      width: 400px;
    }
  }
}

.mix__2-col-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 24px;
}

.cl {
  --color-base-base: #04092a; /* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
  --color-base-essential: #fff; /* Базовый цвет поверхностей */
  --color-base-project: #3347f2; /* П роектный цвет, от которого выстраивают акцентные состояния */
  --color-base-phantom: #9e9e9e; /* Тонирующий цвет, от которого выстраиватся бордеры, оверлей под модальными окнами, ... */
  --color-base-path: #3347f2; /* Цвет ссылок и контролов, от которого выстраиваются все их состояния */
  --color-base-system: #eee; /* Цвет системнный  */
  --color-base-shadow: #002033; /* Цвет тени  */
  --color-base-success: #22c38e; /* Цвет ус пеха */
  --color-base-alert: #eb5757; /* Цвет ошибки */
  --color-base-warning: #f38b00; /* Цвет предупреждения */
  --color-base-caution: #f2c94c; /* Цвет осторожности */
  --color-base-normal: #56b9f2; /* Цвет нейтральный */
  --color-base-critical: #33000f;
}

.cl_dark {
  $color-base-base: #bad2fc; /* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
  $color-base-essential: #04092a; /* Базовый цвет поверхностей */
  $color-base-project: #fff; /* Проектный цвет, от которого выстраивают акцентные состояния */
  $color-base-phantom: #f6fbfd; /* Тонирующий цвет, от которого выстраиватся бордеры, оверлей под модальными окнами, ... */
  $color-base-path: #bad2fc; /* Цвет ссылок и контролов, от которого выстраиваются все их состояния */
  $color-base-system: #8eb2cc; /* Цвет системнный */
  $color-base-shadow: #000306; /* Цвет тени */

  $color-base-success: #22c38e; /* Цвет успеха */
  $color-base-alert: #eb5757; /* Цвет ошибки */
  $color-base-warning: #f38b00; /* Цвет предупреждения */
  $color-base-caution: #f2c94c; /* Цвет осторожности */
  $color-base-normal: #0aa5ff; /* Цвет нейтральный */
  $color-base-critical: #33000f;
}
