/* Базовые цвета, от которых выстраивается вся палитра */
/* $color-base-base: #002033;  */
/* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ...  */ /* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */ /* Базовый цвет поверхностей */ /* П роектный цвет, от которого выстраивают акцентные состояния */ /* Тонирующий цвет, от которого выстраиватся бордеры, оверлей под модальными окнами, ... */ /* Цвет ссылок и контролов, от которого выстраиваются все их состояния */ /* Цвет системнный  */ /* Цвет тени  */ /* Цвет ус пеха */ /* Цвет ошибки */ /* Цвет предупреждения */ /* Цвет осторожности */ /* Цвет нейтральный */

/* stylelint-disable */
.Theme_color_SprfDefault {
  /* //////////////////////////////// Цвета фонов /////////////// */
  /* Цвет дефолта */
  --color-bg-default: rgb(255, 255, 255);
  /* Цвет дефолта */
  --color-bg-secondary: rgb(255, 255, 255); 
  /* Цвет фона брендированый */
  --color-bg-brand: rgb(51, 71, 242); 
  /* Цвет фона ссылки */
  --color-bg-link: rgb(51, 71, 242); 
   /* Цвет границ */
  --color-bg-border: rgba(0, 65, 102, 0.2);
  /* Цвет зебры (например, при окрашивании фона строк таблицы через одну) */
  --color-bg-stripe: rgba(0, 32, 51, 0.05); 

  --color-bg-ghost: rgba(0, 32, 51, 0.08); /* Цвет затенения */
  --color-bg-tone: rgba(0, 32, 51, 0.85); /* Цвет паранджи */
  --color-bg-soft: rgba(255, 255, 255, 0.9); /* Цвет молока */
  --color-bg-system: rgb(238, 238, 238); /* Цвет фона системнный */
  --color-bg-normal: rgb(86, 185, 242); /* Цвет фона нейтральный */
  --color-bg-success: rgb(34, 195, 142); /* Цвет фона успеха */
  --color-bg-caution: rgb(242, 201, 76); /* Цвет фона осторожности */
  --color-bg-warning: rgb(243, 139, 0); /* Цвет фона предупреждения */
  --color-bg-alert: rgb(235, 87, 87); /* Цвет фона ошибки */
  --color-bg-critical: rgb(51, 0, 15); /* Цвет фона системнный */

  /* //////////////////////////////// Цвета текста ////////////// */
  --color-typo-primary: rgb(4, 9, 42); /* Цвет основного текста */
  --color-typo-secondary: rgba(4, 9, 42, 0.6); /* Цвет второстепенного текста */
  --color-typo-ghost: rgba(4, 9, 42, 0.4); /* Цвет дополнительного текста */
  --color-typo-brand: rgb(51, 71, 242); /* Цвет брендового текста */
  --color-typo-system: rgb(191, 176, 176); /* Цвет фона системнный */
  --color-typo-normal: rgb(51, 180, 255); /* Цвет фона нейтральный */
  --color-typo-success: rgb(9, 179, 123); /* Цвет текста успеха */
  --color-typo-caution: rgb(255, 161, 10); /* Цвет текста осторожности */
  --color-typo-warning: rgb(232, 117, 2); /* Цвет текста предупреждения */
  --color-typo-alert: rgb(235, 51, 51); /* Цвет текста ошибки */
  --color-typo-critical: rgb(51, 0, 15); /* Цвет фона системнный */
  --color-typo-link: rgb(51, 71, 242); /* Цвет основной ссылки */
  --color-typo-link-minor: rgb(56, 69, 183); /* Цвет второстепенной ссылки */
  --color-typo-link-hover: rgba(51, 71, 242, 0.6); /* Цвет ховера ссылки */

  /* ///////////////////////// Цвета скроллбара ////////////// */
  --color-scroll-bg: rgba(0, 66, 105, 0.06);
  --color-scroll-thumb: rgba(0, 66, 105, 0.24);
  --color-scroll-thumb-hover: rgba(0, 66, 105, 0.32);

  /* /////////////////////////////// Цвета контролов /////////// */

  /* Default */
  --color-control-bg-default: rgb(255, 255, 255); /* Цвет фона контрола */
  --color-control-typo-default: rgb(4, 9, 42); /* Цвет основного текста контрола */
  --color-control-typo-placeholder: rgba(4, 9, 42, 0.5); /* Цвет плейсхолдера контрола */
  --color-control-bg-border-default: rgba(0, 66, 105, 0.28); /* Цвет фона бордеров котрола */
  --color-control-bg-border-default-hover: rgba(0, 66, 105, 0.52); /* Цвет фона бордеров контрола по ховеру */
  --color-control-bg-border-focus: rgb(92, 107, 245); /* Цвет аутлайна контролов при фокусе */ /* TODO заменить на правило целиком */
  --color-control-bg-focus: rgba(51, 71, 242, 0.3); /* Цвет тени в состонии фокуса */
  --color-control-bg-active: rgba(51, 71, 242, 0.5); /* Цвет тени в состонии нажатия  */

  /* Primary */
  --color-control-bg-primary: rgb(51, 71, 242); /* Цвет фона активного контрола */
  --color-control-bg-primary-hover: rgb(92, 107, 245); /* Цвет фона активного контрола по ховеру */
  --color-control-typo-primary: rgb(255, 255, 255); /* Цвет акцентного текста */
  --color-control-typo-primary-hover: rgb(255, 255, 255); /* Цвет акцентного текста */

  /* Secondary */
  --color-control-bg-secondary: rgba(255, 255, 255, 0); /* Цвет фона бордеров котрола */
  --color-control-bg-border-secondary: rgb(51, 71, 242); /* Цвет фона бордеров котрола */
  --color-control-bg-border-secondary-hover: rgb(92, 107, 245); /* Цвет фона бордеров контрола по ховеру */
  --color-control-typo-secondary: rgb(51, 71, 242); /* Цвет второстепеного текста контрола */
  --color-control-typo-secondary-hover: rgb(92, 107, 245); /* Цвет акцентного текста */

  /* Ghost */
  --color-control-bg-ghost: rgba(0, 66, 105, 0.07); /* Цвет фона дополнительного контрола */
  --color-control-bg-ghost-hover: rgba(0, 66, 105, 0.05); /* Цвет фона дополнительного контрола по ховеру */
  --color-control-typo-ghost: rgb(49, 68, 242); /* Цвет дополнительного текста контрола */
  --color-control-typo-ghost-hover: rgba(49, 68, 242, 0.75); /* Цвет акцентного текста */

  /* Clear */
  --color-control-bg-clear: rgba(0, 66, 105, 0); /* Цвет фона чистого контрола */
  --color-control-bg-clear-hover: rgba(0, 66, 105, 0.09); /* Цвет фона чистого контрола по ховеру */
  --color-control-typo-clear: rgba(7, 16, 79, 0.8); /* Цвет акцентного текста */
  --color-control-typo-clear-hover: rgba(7, 16, 79, 0.75); /* Цвет акцентного текста */

  /* Disable */
  --color-control-bg-disable: rgba(0, 66, 105, 0.07); /* Цвет фона неактивного контрола */
  --color-control-bg-border-disable: rgba(0, 66, 105, 0); /* Цвет фона бордеров неактивного контрола */
  /* --color-control-typo-disable: color($color-base-base a(26%)); Цвет основного текста неактивного контрола */
  --color-control-typo-disable: rgb(138, 144, 168); /* Цвет основного текста неактивного контрола */

  /* /////////////////////////////
  // Цвета тени /////////// */
  --color-shadow-group-1: rgba(0, 32, 51, 0.02);
  --color-shadow-group-2: rgba(0, 32, 51, 0.16);
  --color-shadow-layer-1: rgba(0, 32, 51, 0.04);
  --color-shadow-layer-2: rgba(0, 32, 51, 0.12);
  --color-shadow-modal-1: rgba(0, 32, 51, 0.04);
  --color-shadow-modal-2: rgba(0, 32, 51, 0.12);
}
/* stylelint-enable */
